@keyframes fadeInUp {
  from {
    opacity: 0;
    /* Reducimos el desplazamiento vertical a 20px para un efecto más sutil */
    transform: translate3d(0, 20px, 0); 
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Clase utilitaria para aplicar la animación */
.animate-fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 0.9s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); /* ease-out-quad/cubic */
  animation-fill-mode: both; /* Mantiene el estado final al terminar */
}



@keyframes backgroundZoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.03); 
    }
}

.bg-zoom-animation {
    animation: backgroundZoom 15s ease-in-out infinite alternate;
}